doctype html

html
    head
    body
        h1 Welcome to KenzieGram!

        form(action ="/upload" method="post" enctype="multipart/form-data")
            fieldset
                legend Photo Upload
                label Choose your photo here!
                    input(name="uploadPhoto" type="file" placeholder="Type something…")
                    span(class="help-block" ex. "photo.jpg")
                label(class="checkbox")
                //- input(type="checkbox" Mental Health Check &hearts;)
       
                button(type="submit" class="btn") Upload
            each val in photos 
                img(src=val style=("width:20%; margin:auto;"))
  
